Why .ipynb? The nature of Data Cleaning and EDA requires often re-running 
certain parts of code, displaying graphs, and drawing tables. 
This is why cell-alike interface is more beneficial. 

However, it is used mostly in Data Science, and should not be ubiquitous.
Certain cleaning functions can be written as a separate .py file for a 
later use.

## Loading Dataframe

In [280]:
# load and display dataset
import pandas as pd
df = pd.read_csv('Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv')
df.head()

,Timestamp,How old are you?,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency - other,Additional context on income,Country,State,City,Overall years of professional experience,Years of experience in field,Highest level of education completed,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27696 entries, 0 to 27695
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Timestamp                                 27696 non-null  object
 1   How old are you?                          27696 non-null  object
 2   Industry                                  27627 non-null  object
 3   Job title                                 27696 non-null  object
 4   Additional context on job title           7168 non-null   object
 5   Annual salary                             27696 non-null  object
 6   Other monetary comp                       20531 non-null  float64
 7   Currency                                  27696 non-null  object
 8   Currency - other                          185 non-null    object
 9   Additional context on income              3015 non-null   object
 10  Country                                   27696 non-null  object
 11  State                                     22771 non-null  object
 12  City                                      27621 non-null  object
 13  Overall years of professional experience  27696 non-null  object
 14  Years of experience in field              27696 non-null  object
 15  Highest level of education completed      27489 non-null  object
 16  Gender                                    27532 non-null  object
 17  Race                                      27535 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.8+ MB

Based on the aquired information, we can see that data is very dirty and 
contains a lot of NaN values. Also, almost no columns are numerical data,
even though columns like 'Annual salary' are expected to be numbers.

Column 'State' applies only and exclusively to the United States.

## Column names

Some columns have too lengthy names, for example, "How old are you?", or
"Highest level of education". Instead, we could replace it with a shorter
and more convenient namings.

In [283]:
# renaming columns
df.rename(columns={'How old are you?':'Age',
                  'Years of experience in field': 'Experience',
                  'Currency - other': 'Currency-other',
                  'Overall years of professional experience': 'Overall_experience',
                  'Highest level of education completed': 'Education'}, inplace=True, errors='raise')

df.head()

,Timestamp,Age,Industry,Job title,Additional context on job title,Annual salary,Other monetary comp,Currency,Currency-other,Additional context on income,Country,State,City,Overall_experience,Experience,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

Additionally, writing column names through _ instead of the space can be helpful, I will write a function that will replace all the spaces to _

In [284]:
def remove_spaces(name):
    name = name.replace(' ', '_')
    return name

# apply to all columns using map() function
df.columns = list(map(remove_spaces, df.columns))
df.head()

,Timestamp,Age,Industry,Job_title,Additional_context_on_job_title,Annual_salary,Other_monetary_comp,Currency,Currency-other,Additional_context_on_income,Country,State,City,Overall_experience,Experience,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

## Checking for NaNs

In [285]:
# We already know that there are NaNs. However, where exactly are they?

print("Total NaNs:", df.isnull().sum().sum())
print("NaN by Columns:\n",df.isnull().sum())

Total NaNs: 85486
NaN by Columns:
 Timestamp                              0
Age                                    0
Industry                              69
Job_title                              0
Additional_context_on_job_title    20528
Annual_salary                          0
Other_monetary_comp                 7165
Currency                               0
Currency-other                     27511
Additional_context_on_income       24681
Country                                0
State                               4925
City                                  75
Overall_experience                     0
Experience                             0
Education                            207
Gender                               164
Race                                 161
dtype: int64

In [286]:
# lets look at the percentage of NaNs in each columns:
for name, value in zip(df.columns, [round(element/df.shape[0]*100, 2) for element in list(df.isnull().sum())]):
    print(f'{name} : {value}')

Timestamp : 0.0
Age : 0.0
Industry : 0.25
Job_title : 0.0
Additional_context_on_job_title : 74.12
Annual_salary : 0.0
Other_monetary_comp : 25.87
Currency : 0.0
Currency-other : 99.33
Additional_context_on_income : 89.11
Country : 0.0
State : 17.78
City : 0.27
Overall_experience : 0.0
Experience : 0.0
Education : 0.75
Gender : 0.59
Race : 0.58

So far, we can give a definitive answer on what columns are mostly useless:
'Additional_context_on_job_title', 
'Currency-other',
'Additional_context_on_income'. 

Let's find out why:

In [287]:
for col in ['Additional_context_on_job_title', 'Currency-other','Additional_context_on_income']:
    print(col, df[col].unique())

Additional_context_on_job_title [nan 'High school, FT' 'Data developer/ETL Developer' ...
 'Financial management Division' 'Construction' 'Meeting planner ']
Currency-other [nan 'INR' 'Peso Argentino' '$76,302.34'
 'My bonus is based on performance up to 10% of salary'
 'I work for an online state university, managing admissions data. Not direct tech support. '
 '0' 'MYR' 'CHF' 'KWD' 'NOK' 'Na ' 'USD' 'BR$' 'SEK'
 'Base plus Commission ' 'canadian' 'Dkk' 'EUR' 'COP' 'TTD'
 'Indian rupees' 'BRL (R$)' 'Mexican pesos' 'CZK' 'GBP' 'DKK' 'Bdt'
 'RSU / equity' 'ZAR' 'Additonal = Bonus plus stock' 'American Dollars'
 'Php' 'PLN (Polish zloty)' 'Overtime (about 5 hours a week) and bonus'
 'czech crowns' 'Stock ' 'TRY' 'Norwegian kroner (NOK)' 'CNY' 'ILS/NIS'
 '55,000' 'AUD & NZD are not the same currency...' 'US Dollar' 'Canadian '
 'AUD' 'BRL' 'NIS (new Israeli shekel)' '-' 'RMB (chinese yuan)'
 'Taiwanese dollars'
 "AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :("
 'NZD' 'Philippine Peso' 'SGD' 'KRW (Korean Won)' 'Czk' 'THB' 'IDR ' 'Sgd'
 'Nok' 'ILS (Shekel)' '6000 in stock grants annually' 'DKK ' 'China RMB'
 'AUD Australian ' 'LKR' 'Polish Złoty' 'Philippine peso (PHP)'
 'Australian Dollars ' 'PHP'
 'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance '
 'Equity'
 'It’s marketed as £22000 but we get paid pro-rats, so no pay for the school holidays.'
 'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate'
 'ARS' 'Argentinian peso (ARS)' 'Israeli Shekels' 'ILS' 'MXN'
 'PhP (Philippine Peso)' 'Converted mine into USD for your easyness' 'PLN'
 'KRW' 'SAR' 'RM' 'IDR' 'None' 'Argentine Peso' 'Philippine Pesos' 'Ils'
 'Rs' 'INR (Indian Rupee)' 'NTD' 'Danish Kroner' 'CAD' 'Korean Won ' 'dkk'
 'Euro' 'SGD ' 'Mexican Pesos' 'THAI  BAHT'
 'Option to get 2x or 1.5x if taking on a weekend day in the summer'
 'Thai Baht ' '47000' 'na' 'Canadian' 'N/a' 'up to 12% annual bonus'
 'croatian kuna' 'PLN (Zwoty)' '5']
Additional_context_on_income [nan 'I work for a Charter School' 'Commission based' ...
 'I also receive an equity grant'
 "Paid as $5,500 monthly, with a month's salary as a bonus if the campaign wins the election"
 'Overtime from tax season']

Looks like these three columns are representing some optional comments.
They might be valuable for certain studies, however, for the sake of overall
cleanliness of the dataset I will drop these columns since there is less likely
will be any use for them.

In [288]:
df.drop(['Additional_context_on_job_title', 'Currency-other','Additional_context_on_income'], axis=1,  inplace=True)
df.head()

,Timestamp,Age,Industry,Job_title,Annual_salary,Other_monetary_comp,Currency,Country,State,City,Overall_experience,Experience,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",NaN,USD,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

After, we have to decide what to do with the rest of NaN cells.

We can assume that if the data is missing in a numerical column, it is most
likely a 0. So "Other_monetary_comp" will get 0 instead of NaN.

How about categorical data?

'Industry', 'Education', 'Gender', 'City' and 'Race' are string values, so it's
safe to replace NaNs with 'Unknown'. We don't know, really, what could be in there.

'State' is different, though. We need to check if the entry is for US or not, based on this, 
we will assign either 'Unknown' or 'None'.

In [289]:
df['Other_monetary_comp'] = df['Other_monetary_comp'].fillna(0)

categorical = ['Industry', 'Education', 'Gender', 'City', 'Race']

for col in categorical:
    df[col] = df[col].fillna('Unknown')
    
df.head()

,Timestamp,Age,Industry,Job_title,Annual_salary,Other_monetary_comp,Currency,Country,State,City,Overall_experience,Experience,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [290]:
# However, we are coming to some problem with US:
df['Country'].value_counts()

United States                                                    8876
USA                                                              7870
US                                                               2579
Canada                                                           1551
United States                                                     654
                                                                 ...
Sri Lanka                                                           1
Worldwide (based in US but short term trips aroudn the world)       1
Danmark                                                             1
U.K. (northern England)                                             1
INDIA                                                               1
Name: Country, Length: 365, dtype: int64

In [291]:
# is the 'State' column contains EXCLUSIVELY US states names?

df['State'].unique()

array(['Massachusetts', nan, 'Tennessee', 'Wisconsin', 'South Carolina',
       'New Hampshire', 'Arizona', 'Missouri', 'Florida', 'Pennsylvania',
       'Michigan', 'Minnesota', 'Illinois', 'California', 'Georgia',
       'Ohio', 'District of Columbia', 'Maryland', 'Texas', 'Virginia',
       'North Carolina', 'New York', 'New Jersey', 'Rhode Island',
       'Colorado', 'Oregon', 'Washington', 'Indiana', 'Iowa', 'Nebraska',
       'Oklahoma', 'Maine', 'Connecticut', 'South Dakota',
       'West Virginia', 'Idaho', 'Louisiana', 'Montana', 'Kentucky',
       'North Dakota', 'Kansas', 'Vermont', 'Arkansas', 'Alabama',
       'Nevada', 'Delaware', 'New Mexico', 'Hawaii', 'Utah',
       'Mississippi', 'Kentucky, Ohio', 'District of Columbia, Virginia',
       'District of Columbia, Maryland', 'Alaska', 'Arizona, Washington',
       'Georgia, New York', 'California, Colorado', 'California, Oregon',
       'District of Columbia, Maryland, Pennsylvania, Virginia',
       'Arizona, California', 'North Carolina, Utah', 'Wyoming',
       'Ohio, Wyoming', 'Georgia, Tennessee', 'Massachusetts, Oregon',
       'Alabama, Montana', 'Alabama, District of Columbia',
       'California, Pennsylvania', 'New Jersey, Pennsylvania',
       'Georgia, Washington', 'Alaska, Maryland',
       'Michigan, South Carolina', 'Massachusetts, Rhode Island',
       'Georgia, Minnesota', 'Colorado, Nevada',
       'Maine, Massachusetts, New Hampshire, North Carolina',
       'Alabama, Minnesota, Nevada', 'New Jersey, New York',
       'Arizona, Utah', 'Alabama, Kansas', 'California, Oklahoma',
       'Illinois, Wisconsin', 'Illinois, Kentucky',
       'Arizona, California, Nevada, Texas',
       'Alaska, Idaho, Oregon, Utah, Washington',
       'Massachusetts, Pennsylvania', 'Nevada, Oregon',
       'New Jersey, Virginia', 'Montana, Wyoming',
       'Colorado, Massachusetts',
       'District of Columbia, Maryland, Virginia',
       'Massachusetts, Vermont', 'Massachusetts, New Hampshire',
       'Arkansas, Iowa, Massachusetts, Ohio, Wyoming', 'New York, Texas',
       'California, Montana', 'Iowa, Utah, Vermont', 'Texas, Virginia',
       'Utah, Vermont', 'Arkansas, Illinois', 'Georgia, Massachusetts',
       'Maryland, Virginia', 'Florida, Georgia, South Carolina',
       'Arkansas, Idaho, Kansas, Louisiana, Michigan, Mississippi, Nevada, New York, South Carolina, Tennessee, Washington',
       'California, Texas', 'Indiana, Ohio', 'Ohio, Washington',
       'Kansas, Missouri', 'Colorado, Illinois',
       'Arizona, Hawaii, Illinois, Michigan, Utah, Wyoming',
       'California, New Jersey', 'Louisiana, Washington',
       'Maryland, New York', 'District of Columbia, Washington',
       'Delaware, Pennsylvania', 'Illinois, North Carolina',
       'Indiana, Massachusetts', 'Florida, New Hampshire, Wisconsin',
       'Pennsylvania, Rhode Island', 'New York, Oregon, Vermont',
       'Iowa, Nebraska', 'California, New York', 'Arizona, New York',
       'California, District of Columbia, Illinois, Iowa, Maryland, Minnesota',
       'Oregon, Washington', 'New York, Virginia',
       'Mississippi, Missouri', 'California, Maryland',
       'California, Illinois, Massachusetts, North Carolina, South Carolina, Virginia',
       'Alabama, California'], dtype=object)

...yes, the states are US-based. However, there are multiple states sometimes.

As we see, there are multiple ways to write different countries. 
In order to address the missing 'State' column, we have to filter out everything
that is based in the US:

In [292]:
# Describing a function that will replace country name in accordance with
# common naming convention
def country_decoder(list_of_names, decode_to, value):
    for name in list_of_names:
        if name.lower() in value.lower():
            value = decode_to
            return value
    return value

In [293]:
# Renaming US-based 'Country' values:
usa_names = ['U.S.', 'U.S', 'USA', 'US', 'United States', 'U. S.']
df.Country = [country_decoder(usa_names, 'United States', x) for x in list(df['Country'])]
df.Country.nunique()

275

In [294]:
# Same goes for the UK:
uk_names = ['UK', 'U.K.', 'U.K', 'Great Britain', 'Scotland', 'Wales', 'England', 'Northern Ireland', 'Britain', 'United Kingdom', 'United Kindom'] 
# Since Great Britain 
# is a part of the UK

df.Country = [country_decoder(uk_names, 'United Kingdom', x) for x in list(df['Country'])]
df.Country.nunique()

230

In [295]:
df.Country.unique()

array(['United States', 'United Kingdom', 'Canada', 'The Netherlands',
       'Spain', 'finland', 'France', 'Germany', 'Ireland', 'India',
       'canada', 'Canada ', 'ISA', 'Argentina', 'United State', 'Denmark',
       'America', 'Netherlands', 'netherlands', 'Ireland ', 'Switzerland',
       'Netherlands ', 'Bermuda', 'United State of America', 'Germany ',
       'Malaysia', 'Mexico ', 'United Stated', 'South Africa ', 'Belgium',
       'South Africa', 'Sweden', 'Hong Kong', 'Kuwait', 'Norway',
       'Sri lanka', 'Contracts', 'United Statws', 'Unites States ',
       'Greece', 'Japan', 'United Sates', 'Japan ', 'Brazil',
       'Canada, Ottawa, ontario', 'Global', 'Sweden ', 'FRANCE',
       'Uniited States', 'CANADA ', 'Canadw', 'Hungary', 'Luxembourg',
       'United Sates of America', 'ireland', 'Colombia', 'CANADA',
       'Unted States', 'germany', 'United Stattes', 'United Statea',
       'Mexico', 'New Zealand', 'Trinidad and Tobago', 'Unites States',
       'United Statees', 'Cayman Islands', 'Can', 'Uniyed states',
       'Uniyes States', 'U.A.', 'Czech republic', 'Czechia', 'Latvia',
       'Finland', 'Puerto Rico', 'Rwanda', 'United Arab Emirates ',
       'Bangladesh ', 'Spain ', 'Romania', 'New Zealand ',
       'Currently finance', 'Serbia', 'Philippines', 'Poland', 'UXZ',
       'czech republic', 'Turkey', 'Canda', 'Puerto Rico ', 'Catalonia',
       '$2,175.84/year is deducted for benefits', 'France ',
       'Italy (South)', 'Jersey, Channel islands', 'China', 'Virginia',
       'Afghanistan', 'Israel', 'Denmark ', 'Uniteed States',
       'New Zealand Aotearoa', 'Hartford', 'Csnada', 'United Stares',
       'New zealand', 'Mainland China', 'I.S.', 'Unites states ', 'NZ',
       'Hong Kong ', 'Taiwan', 'Canad', 'Unite States',
       'The Netherlands ', 'Cambodia', 'Vietnam', 'Remote', 'Singapore',
       'South Korea', 'Czech Republic ', 'Thailand', 'Bangladesh',
       'Lithuania', 'Eritrea', 'Indonesia', 'Singapore ', 'IS',
       'Switzerland ', 'Italy', ' New Zealand', 'Cuba', 'Slovenia',
       "Cote d'Ivoire", 'Somalia', 'Czech Republic', 'UnitedStates',
       'Sri Lanka', 'spain', 'Danmark', 'NL', 'the Netherlands',
       'Nederland', 'Slovakia', 'Portugal ', 'Sierra Leone', 'Englang',
       'United statew', 'UAE', 'Belgium ', 'International ',
       'The Bahamas ',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', 'United Statues', 'Untied States', 'Chile',
       'denmark', 'Unitied States', 'Norway ', 'Qatar', 'United Sttes',
       'Remote (philippines)', 'Brazil ', 'Unites kingdom ',
       'South africa', 'Portugal', 'united stated', 'Nigeria', 'Panamá',
       'SWITZERLAND',
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'Uruguay', 'Pakistan', 'Brasil',
       'United Stateds', 'n/a (remote from wherever I want)', 'singapore',
       'Malaysia ', 'Uganda', 'Malta', 'Saudi Arabia', 'Bulgaria',
       'Estonia', 'Morocco', 'new zealand', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'San Francisco', '🇺🇸 ', 'Luxemburg',
       'Unitef Stated', 'UA', 'United Stares ', 'Croatia ',
       'South Korea ', 'The netherlands', 'america', 'switzerland',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Isle of Man', 'europe', 'California ', 'México', 'Jamaica',
       'the netherlands', 'japan', 'Kenya', 'Jordan', 'United Statss',
       'ARGENTINA BUT MY ORG IS IN THAILAND', 'United  States', 'france',
       'Aotearoa New Zealand', 'na', 'Policy', 'hong konh',
       'Liechtenstein', 'Company in Germany. I work from Pakistan.',
       'croatia', 'Canadá', 'INDIA'], dtype=object)

This is the downside of the manual data entry, there are a lot of typing
errors. Whenever possible, dropdown options is a better choice

In [296]:
# Because there is a lot of typing errors!
df[(df['Country'].str.find('United') != -1) & (df['Country'].str.find('States') == -1) & (df['Country'].str.find('Kingdom') == -1)]

,Timestamp,Age,Industry,Job_title,Annual_salary,Other_monetary_comp,Currency,Country,State,City,Overall_experience,Experience,Education,Gender,Race
662,4/27/2021 11:13:18,35-44,Education (Higher Education),Sr Institutional Research Analyst,"58,500",0.0,USD,United State,Pennsylvania,Bethlehem,11 - 20 years,8 - 10 years,Master's degree,Non-binary,White
1227,4/27/2021 11:22:08,25-34,Computing or Tech,Software Engineer (Front End),"130,000",0.0,USD,United State of America,Colorado,Fully remote job (Denver area),11 - 20 years,5-7 years,College degree,Woman,White
1351,4/27/2021 11:24:22,35-44,Health care,R&D Lead Scientist,"96,512",3400.0,USD,United State,Utah,Salt Lake City,5-7 years,5-7 years,PhD,Woman,White
1418,4/27/2021 11:25:14,35-44,Engineering or Manufacturing,Buyer II,"50,000",2000.0,USD,United Stated,South Dakota,Elkton,11 - 20 years,8 - 10 years,High School,Woman,White
1905,4/27/2021 11:34:28,45-54,Health care,RN,"832,000",0.0,USD,United Stated,Washington,Spokane,21 - 30 years,8 - 10 years,PhD,Woman,White
2003,4/27/2021 11:36:13,45-54,Education (Higher Education),Senior Librarian,"68,000",0.0,USD,United Statws,Nebraska,Lincoln,21 - 30 years,21 - 30 years,Master's degree,Woman,White
2004,4/27/2021 11:36:14,25-34,Nonprofits,Digital Content Coordinator,"52,500",0.0,USD,United Stated,Maryland,Washington D.C.,2 - 4 years,2 - 4 years,Some college,Non-binary,White
2540,4/27/2021 11:46:14,18-24,Nonprofits,Grants Manager,"46,000",0.0,USD,United Sates,Wisconsin,Milwaukee,2 - 4 years,1 year or less,College degree,Woman,White
3158,4/27/2021 11:59:57,25-34,Nonprofits,Office & Communications Assistant,"43,680",0.0,USD,United Sates,Oregon,Portland,8 - 10 years,5-7 years,College degree,Non-binary,White
3376,4/27/2021 12:05:26,25-34,Agriculture or Forestry,Seasonal Wildlife Biologist,"39,520",6000.0,USD,United Sates of America,Wyoming,Laramie,11 - 20 years,8 - 10 years,College degree,Woman,White
3687,4/27/2021 12:13:44,25-34,Entertainment,Senior Data Analyst,"105,000",2000.0,USD,United Sates of America,Washington,Bellevue,5-7 years,2 - 4 years,Master's degree,Man,"Hispanic, Latino, or Spanish origin"
3894,4/27/2021 12:19:27,35-44,Media & Digital,"Executive Vice President, Communications","190,000",30000.0,USD,United Stattes,New Jersey,Remote,11 - 20 years,11 - 20 years,College degree,Woman,White
3918,4/27/2021 12:20:01,25-34,"Marketing, Advertising & PR",Wordpress Developer,"55,000",0.0,USD,United State,"Georgia, Tennessee",Chattanooga,5-7 years,5-7 years,College degree,Woman,White
3962,4/27/2021 12:21:12,25-34,"Accounting, Banking & Finance",Executive Assistant,"72,000",5000.0,USD,United Statea,Massachusetts,Cambridge,8 - 10 years,5-7 years,College degree,Woman,White
4113,4/27/2021 12:25:20,45-54,Engineering or Manufacturing,Senior Field Technician,"52,000",0.0,USD,United State,Kansas,Kansas City,21 - 30 years,8 - 10 years,College degree,Woman,White
4399,4/27/2021 12:33:03,45-54,Corporate Learning and Development,Sr. Instructional Designer,"80,000",8000.0,USD,United State,Missouri,Kansas City,21 - 30 years,11 - 20 years,Master's degree,Woman,White
4536,4/27/2021 12:38:04,25-34,Education (Higher Education),Systems Librarian,"56,000",0.0,USD,United Statees,Wisconsin,Milwaukee,11 - 20 years,11 - 20 years,Master's degree,Woman,White
4666,4/27/2021 12:43:01,25-34,Social Work,Licensed Social Worker,"63,000",4000.0,USD,United State,California,Oakland,5-7 years,2 - 4 years,Master's degree,Woman,"Black or African American, White"
5451,4/27/2021 13:11:06,25-34,Nonprofits,QI & Planning Manager,"65,000",0.0,USD,United State,New Jersey,"Newark, NJ",2 - 4 years,2 - 4 years,Master's degree,Woman,White
6756,4/27/2021 14:06:15,45-54,Education (Higher Education),Librarian,"69,000",28000.0,USD,United Arab Emirates,NaN,Dubai,21 - 30 years,11 - 20 years,Master's degree,Woman,White
7709,4/27/2021 15:07:12,35-44,Nonprofits,Education manager,"68,000",0.0,USD,United State,Virginia,Reston,11 - 20 years,11 - 20 years,College degree,Woman,White
8699,4/27/2021 16:30:24,35-44,Nonprofits,Grants Manager,"65,000",0.0,USD,United Stated,Maryland,Baltimore,11 - 20 years,5-7 years,Master's degree,Woman,White
8723,4/27/2021 16:32:54,25-34,Education (Higher Education),Program Coordinator,"46,000",0.0,USD,United Stated,Minnesota,Brainerd,5-7 years,5-7 years,College degree,Woman,White
8898,4/27/2021 16:53:17,45-54,Education (Higher Education),IT Help Desk Manager,"70,100",0.0,USD,United Stated,Pennsylvania,Philadelphia,21 - 30 years,21 - 30 years,College degree,Woman,White
9190,4/27/2021 17:23:40,35-44,"Marketing, Advertising & PR",Communications & Marketing Director,"93,000",0.0,USD,United State,Texas,Houston metro area,11 - 20 years,8 - 10 years,College degree,Woman,White
9930,4/27/2021 19:24:42,35-44,Engineering or Manufacturing,Marketing director,"175,000",30000.0,USD,United Stares,Illinois,Chicago,11 - 20 years,11 - 20 years,Master's degree,Woman,White
10507,4/27/2021 21:13:01,35-44,Law,Paralegal,"52,000",0.0,USD,United Sates,Virginia,Norfolk,11 - 20 years,8 - 10 years,College degree,Woman,White
10747,4/27/2021 22:06:45,35-44,Computing or Tech,Vice President of People and Culture,"152,000",50000.0,USD,United State,Colorado,Denver,11 - 20 years,11 - 20 years,Master's degree,Woman,White
11265,4/28/2021 0:03:18,25-34,Education (Higher Education),Director of Admin,"110,000",0.0,USD,United Statea,California,Irvine,11 - 20 years,8 - 10 years,Master's degree,Woman,White
12171,4/28/2021 8:37:08,35-44,Engineering or Manufacturing,1st line manager,"62,400",20000.0,USD,United statew,Washington,Woodinville,11 - 20 years,5-7 years,College degree,Woman,White
12798,4/28/2021 11:10:53,25-34,Insurance,Marketing & Communications Writer,"52,000",500.0,USD,United State,Utah,Salt Lake City,5-7 years,5-7 years,College degree,Woman,White
13163,4/28/2021 12:09:55,35-44,Business or Consulting,User Experience Architecture Associate Manager,"152,800",6068.0,USD,United Statues,California,Los Angeles,11 - 20 years,8 - 10 years,Master's degree,Man,White
14040,4/28/2021 13:57:36,25-34,Sales,Sales Development Representative,"50,000",50000.0,USD,United Sates,California,Redwood City,5-7 years,5-7 years,College degree,Man,White
14113,4/28/2021 14:03:27,25-34,Insurance,Account Manager,"83,500",2500.0,USD,United Sttes,California,San Francisco,8 - 10 years,8 - 10 years,College degree,Woman,White
14860,4/28/2021 15:36:12,35-44,Computing or Tech,Staff Security Engineer,"190,000",0.0,USD,United Stated,Washington,Remote,21 - 30 years,11 - 20 years,College degree,Man,White
15445,4/28/2021 17:07:23,25-34,Real Estate,"Manager, Business Operations","120,000",0.0,USD,United State,New York,New York,5-7 years,2 - 4 years,College degree,Man,White
15501,4/28/2021 17:09:14,25-34,Nonprofits,Web Product and Content Manager,"80,250",0.0,USD,United State,Massachusetts,Springfield,8 - 10 years,5-7 years,Some college,Woman,White
17732,4/28/2021 21:15:50,45-54,Computing or Tech,CTO,"150,000",0.0,USD,United Stateds,Louisiana,Shreveport,11 - 20 years,11 - 20 years,Master's degree,Man,White
18988,4/29/2021 6:22:28,45-54,Nonprofits,Finance Coordinator,"50,000",0.0,USD,United Stated,Massachusetts,Boston,11 - 20 years,5-7 years,College degree,Woman,White
19862,4/29/2021 11:56:39,25-34,Education (Higher Education),Assistant Learning Center Coordinato,"36,400",0.0,USD,United State,New York,Manhattan,8 - 10 years,8 - 10 years,College degree,Man,White
20646,4/29/2021 16:00:23,25-34,Storage Facility,Owner,120000,0.0,USD,United Stares,Texas,San Angelo,5-7 years,2 - 4 years,College degree,Woman,White
21712,4/30/2021 16:13:14,45-54,Law,Legal Assistant/Paralegal,48000,1000.0,USD,United State,Maryland,Gaithersburg,21 - 30 years,2 - 4 years,College degree,Woman,White
21769,4/30/2021 16:25:30,45-54,Education (Primary/Secondary),Gifted Instuctor,52000,0.0,USD,United Statea,Missouri,Kansas Citt,21 - 30 years,21 - 30 years,"Professional degree (MD, JD, etc.)",Woman,White
21943,4/30/2021 17:04:29,25-34,Retail,Assistant Store Manager,69500,5000.0,USD,United Stated,New Jersey,Parsippany,5-7 years,5-7 years,College degree,Woman,White
22203,4/30/2021 18:20:12,25-34,Computing or Tech,Junior Delivery Lead,50000,0.0,USD,United Stares,Michigan,Detroit,5-7 years,2 - 4 years,College degree,Woman,White
22822,5/1/2021 1:43:59,45-54,Education (Primary/Secondary),Media Specialist,43000,0.0,USD,United y,Georgia,Atlanta,5-7 years,2 - 4 years,Master's degree,Woman,White
24068,5/3/2021 23:02:29,35-44,Computing or Tech,Director of Engineering,130000,14000.0,USD,United State of America,New Hampshire,Remote,21 - 30 years,21 - 30 years,College degree,Man,White
24559,5/5/2021 16:21:59,35-44,Education (Higher Education),Accountant,51000,0.0,USD,United State,Nebraska,Omaha,11 - 20 years,11 - 20 years,College degree,Woman,White
25473,5/6/2021 16:45:01,25-34,Publishing,Manufacturing Planner/Cost Estimator,56000,0.0,USD,United Statss,Minnesota,"New York City, New York",8 - 10 years,5-7 years,College degree,Woman,White
25475,5/6/2021 16:47:19,25-34,Engineering or Manufacturing,Process Engineer,131000,0.0,USD,United Sates,Texas,Corpus Christi,8 - 10 years,8 - 10 years,College degree,Woman,White
26087,5/12/2021 7:57:51,35-44,Art & Design,Executive Director,137000,0.0,USD,United State,Illinois,Chicago,21 - 30 years,11 - 20 years,Master's degree,Woman,White
26569,7/22/2021 13:26:49,25-34,Education (Higher Education),Assistant Advisor,37000,0.0,USD,United State of America,Texas,Austin,5-7 years,2 - 4 years,Master's degree,Woman,White
26651,8/13/2021 20:37:29,25-34,Engineering or Manufacturing,Lab Director,112000,1700.0,USD,United State,New Jersey,,8 - 10 years,8 - 10 years,Master's degree,Man,White
26682,8/16/2021 15:17:11,55-64,Nonprofits,Grant Writer,52000,0.0,USD,United State,Oregon,Eugene,31 - 40 years,11 - 20 years,College degree,Woman,White
26803,10/6/2021 15:28:01,25-34,Retail,Wholesale Operations Coordinator,50000,1500.0,USD,United Sates,Minnesota,Minneapolis,5-7 years,5-7 years,College degree,Woman,White
27458,10/29/2021 11:08:17,18-24,"Marketing, Advertising & PR",Account Manager,75000,1500.0,USD,United State of America,Illinois,Chicago,2 - 4 years,2 - 4 years,College degree,Woman,"Hispanic, Latino, or Spanish origin"

In [272]:
usa_names = ['United State', 'United y', 'United Statss', 'United Sates', 'United Stares', 'United Stated', 'United Statea', 'United Sttes', 'United Statues', 'United Stattes', 'United Statws']
df.Country = [country_decoder(usa_names, 'United States', x) for x in list(df['Country'])]
df.Country.nunique()

212

It's obvious that a lot of these mistypes are originating either from a phone autocorrection, or from a keyboard mistype. 
United States is cleaned out, so we can finally take care of the remaining NaNs in the 'State' column

In [297]:
# 'Unknown' if Country is 'United States',
# 'None' if Country is different
df.loc[(df['Country'] == 'United States') & (df.State.isnull()), 
       'State'] = 'Unknown' 
df.loc[(df['Country'] != 'United States') & (df.State.isnull()), 
       'State'] = 'None'

In [298]:
df.head()

,Timestamp,Age,Industry,Job_title,Annual_salary,Other_monetary_comp,Currency,Country,State,City,Overall_experience,Experience,Education,Gender,Race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,"55,000",0.0,USD,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,None,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,"34,000",0.0,USD,United States,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,"62,000",3000.0,USD,United States,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,"60,000",7000.0,USD,United States,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [300]:


df.isnull().sum()

Timestamp              0
Age                    0
Industry               0
Job_title              0
Annual_salary          0
Other_monetary_comp    0
Currency               0
Country                0
State                  0
City                   0
Overall_experience     0
Experience             0
Education              0
Gender                 0
Race                   0
dtype: int64

NaN problem is fixed.